Flask==3.0.3
Flask-Cors==4.0.1
Flask-Limiter==3.7.0
pandas==2.2.2
numpy==1.26.4
sentence-transformers==3.0.1
langdetect==1.0.9
transformers==4.41.2
python-dotenv==1.0.1
MarkupSafe==2.1.5
torch
